[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipykernel = "*"
nose2 = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
responses = "*"
mypy = "*"
types-requests = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
build = "*"
sphinx = "*"
types-six = "*"
mock = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[packages]
"wfleet.scraper" = {editable = true, path = "."}
