[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "*"
requests = "*"
beautifulsoup4 = "*"
pyyaml = "*"
pysqlite3 = "*"
sqlalchemy = "*"
xlrd = "*"
xlwt = "*"
openpyxl = "*"
prettytable = "*"
pyutilities = "*"
click = "*"

[dev-packages]
ipykernel = "*"
mock = "*"
nose2 = "*"
pytest = "*"
twine = "*"
responses = "*"
mypy = "*"
flake8 = "*"
black = "*"
pytest-cov = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
